@charset "utf-8";
/* CSS Document */

.vertical{
height:150px; width:1px;background:#000; 	
	
}

.div-left{
	height:350px;
	width:450px;
	float:left;
	border-right: ridge;
	text-align: center;
	padding-right:50px;
	}
.div-right{
	height:150px;
	width:450px;
	float:right;
	text-align: left;
	}
.div-leftwork{
	height:350px;
	width:385px;
	float:left;
	border-right: ridge;
	text-align: center;
	padding-right:50px;
	}
.div-middlework{
	height:350px;
	width:390px;
	float:left;
	border-right: ridge;
	text-align: center;
	padding-right:50px;
	padding-left:50px;

	}
.div-rightwork{
	height:350px;
	width:325px;
	float:right;
	text-align: center;
	}
.img-mobile{
	height:360px;
	width:185px;
		}
.logo{
	height:35px;
	width:35px;
	padding-bottom:10px;
	}
.heading-color{
	color:#000000;
	}
